
 p {
        color: red;
        text-align: center;
        padding: 25px 50px 75px 100px;
        margin: .5em .5em .5m 1em;
        border-style: solid;
        border-color: black;
    } 
body {
        background-color: purple;
    } 
    h1
    {
        font-size: x-large;
        color: yellow;
        text-align: center;
    }
    h1:hover {
        color: red;
    }

footer {
        text-align: center;
        background-color: black;
    
        } 
#tabla_gustos
{
    font-style: italic;
    text-decoration: underline;
    background-color: brown;
}
ul
{
    list-style-type: square;
}
th
{
    background-color: chartreuse;
}
img
{
    float: right;
}

#eunbi{
        background-color: black;
        }
